<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CookieShop</title>

    <link rel="stylesheet" type="text/css" media="all"
          href="../../../static/css/product/create.css" th:href="@{/css/product/create.css}" />
</head>
<body>
<div class="mainDiv">
    <div class="nameShop">
        <a th:href="@{/user/main}" class="headText">CookieShop</a>
    </div>
    <div class="lineOpt">
        <hr class="line">
    </div>
</div>
<div class="globalProduct">
</div>
<div class="add">
    <div class="hiText">
        <h3 class="textAdd">Добавьте товар</h3>
    </div>
    <div class="form">
        <form method="post" th:object="${product}" th:action="@{/product/create}">
            <label class="label1" for="name">Название</label>
            <input id="name"
                   class="input1"
                   required
                   minlength="2"
                   maxlength="50"
                   th:field="*{name}"
                   type="text"
                   placeholder="name">
            <span class="error"></span>
            </br>
            <label class="label1" for="description">Описание</label>
            <input id="description"
                   class="input1"
                   maxlength="500"
                   th:field="*{description}"
                   type="text"
                   placeholder="description">
            <span class="error"></span>
            </br>
            <label class="label1" for="price">Стоимость</label>
            <input id="price"
                   class="input1"
                   required
                   minlength="1"
                   maxlength="12"
                   th:field="*{price}"
                   type="number"
                   placeholder="price">
            <span class="error"></span>
            </br>
            <p>Выберит категорию :</p>
            <div class="choice">
                <input type="radio" id="DRESS" th:field="*{category}" name="DRESS" value="DRESS">
                <label for="DRESS">Одежда</label><br>
                <input type="radio" id="CARS" th:field="*{category}" name="CARS" value="CARS">
                <label for="CARS">Автомобили</label><br>
                <input type="radio" id="TECHNOLOGIES" th:field="*{category}" name="TECHNOLOGIES" value="TECHNOLOGIES">
                <label for="TECHNOLOGIES">Технологии</label></br>
            </div>
            </br>
            <input class="input1" id="button" type="submit" value="Добавить">
        </form>
    </div>
</div>
</form>
</body>
</html>
