<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../../static/css/product/getByIdForAdmin.css" th:href="@{/css/product/getByIdForAdmin.css}" />
</head>
<body>
<div class="mainDiv">
    <div class="nameShop">
        <h1 class="headText">CookieShop</h1>
    </div>
    <div class="inputBox">
        <form th:action="@{/product/search/byName}" th:object="${product}" th:method="post">
            <input type="text" class="mainInput" th:field="*{name}" placeholder="Поиск...">
            <button type="button" name="button" class="searchButton">Поиск</button>
        </form>
    </div>
    <div class="lineOpt">
        <hr class="line">
    </div>
</div>
<h1 class="h1" th:text="${product.getName}">Администрирование товара</h1>
<hr class="line2">
<div class="globalProduct">
    <div class="center">
        <div class="p">
            <div class="infoPers">
                <div class="leftBox">
                    <p class="nameUnit"> Название товара</p>
                </div>
                <div class="rightBox">
                    <p>
                    </p>
                </div>
            </div>
        </div>
        </p>
    </div>
</div>
<!--  не понимаю что это за контролер -->
<!-- <p class="opis" th:text="${product.getDescription}"> </p> -->
<div class="butBox">


    <div class="deletUser">
        <a href="#">Заблокировать пользователья</a>
    </div>

    <div class="deletUnit">
        <a href="#">Удалить товар</a>
    </div>

</div>
</tr>

</body>

</html>
