<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CookieShop</title>

    <link rel="stylesheet" type="text/css" media="all"
          href="../../../static/css/product/getList.css" th:href="@{/css/product/getList.css}" />

</head>
<body>
<div class="mainDiv">
<div class="header">
  <div class="nameShop">
      <h1 class="headText">CookieShop</h1>
  </div>
  <div class="inputBox">
      <form th:action="@{/product/search/byName}" th:object="${product}" th:method="post">
    <input type="text" class="mainInput" th:field="*{name}" placeholder="Поиск">
      </form>
  </div>
  <div class="searchBox">
        <button type="button" name="button"  class="butSearch">Поиск</button>
        </div>
        </div>
  <div class="lineOpt">
  <hr class="line">
  </div>
<div class="inform">
  <div class="listInfo">
          <tr th:each="product : ${list}">
  </div>
  <div class="itemInfo">
    <a th:href="@{/product/getById/{id}(id = ${product.getId})}" th:text="${product.getName + ' ' +
    product.getPrice}"></a>
    </br>
          </tr>
  </div>
</div>
</div>
</body>
</html>
