<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!--    <style>-->
    <!--        @font-face {-->
    <!--          font-family: fartune;-->
    <!--          src: url(../fonts/fontMain.otf);-->
    <!--        }-->

    <!--        @font-face {-->
    <!--          font-family: TwoFart;-->
    <!--          src: url(fonts/twoFont.ttf);-->
    <!--        }-->

    <!--        body {-->
    <!--          height: 100% ;-->
    <!--          width: 100%;-->
    <!--          background-size: 100%;-->
    <!--          }-->


    <!--        .mainDiv{-->
    <!--          height: 100% ;-->
    <!--          width: 100%;-->
    <!--          background: #ff416c;-->
    <!--          background: linear-gradient(to right, #ff4b2b, #ff7f50) no-repeat 0 0 / cover;-->
    <!--          position: fixed;-->
    <!--          top: 0;-->
    <!--          left: 0;-->

    <!--        }-->
    <!--        .nameShop{-->
    <!--          height: 80px;-->
    <!--          width: 33%;-->
    <!--          font-family: fartune;-->
    <!--          float: left;-->
    <!--          margin-top: -56px;-->
    <!--        }-->

    <!--        .headText{-->
    <!--          font-size: 83px;-->
    <!--          padding-left: 45px;-->
    <!--        }-->

    <!--        .mainInput{-->
    <!--          width: 88.6%;-->
    <!--          height: 38px;-->
    <!--          margin-top: 40px;-->
    <!--          margin-left: 30px;-->
    <!--          border-radius: 10px;-->
    <!--          border-color: #C0C0C0;-->
    <!--          outline: none;-->
    <!--          font-size:30px;-->
    <!--          font-family: fartune;-->

    <!--        }-->

    <!--        .inputBox {-->
    <!--          width: 67%;-->
    <!--          float: right;-->
    <!--        }-->

    <!--        .line{-->
    <!--          border-color:   #ff7f50;-->
    <!--          width: 100%;-->
    <!--          background-color: #ff7f50;-->
    <!--          margin-top: 30px;-->
    <!--        }-->

    <!--        .lineOpt{-->
    <!--          margin-top: 110px;-->
    <!--        }-->
    <!--          ::-webkit-scrollbar {-->
    <!--            width: 5px;-->
    <!--        }-->


    <!--          ::-webkit-scrollbar-thumb {-->
    <!--            -webkit-border-radius: 10px;-->
    <!--            border-radius: 10px;-->
    <!--            background: rgba(50,50,50,0.5);-->
    <!--        }-->

    <!--        .globalProduct{-->
    <!--          width: 100%;-->
    <!--          height: 100%;-->

    <!--        }-->
    <!--        </style>-->

    <!-- К сожаления стили перекрывают список продуктов, жить можно но ничего не видно -->
    <title>Title</title>

</head>

<body>

<div class="mainDiv">


    <div class="nameShop">
        <h1 class="headText">CookieShop</h1>

    </div>

    <div class="inputBox">

        <input type="text" value="" class="mainInput">
    </div>

    <div class="lineOpt">
        <hr class="line">
    </div>
</div>

<div class="globalProduct">

</div>

<tr th:each="product : ${list}">
    <a th:href="@{/product/getById/{id}(id=${product.getId})}" th:text="${product.getName +
   ' ' + product.getPrice + ' ' + product.getUser}">wef</a>
    ></a>
    </br>


</tr>

</body>

</html>
