<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../../static/css/product/productList.css" th:href="@{/css/product/productList.css}" />
</head>
<body>
<div class="mainDiv">
    <div class="nameShop">
        <h1 class="headText">CookieShop</h1>
    </div>
    <div class="inputBox">
      <form th:action="@{/product/search/byName}" th:object="${product}" th:method="post">
          <input type="text" class="mainInput" th:field="*{name}" placeholder="Поиск...">
          <button type="button" name="button" class="searchButton">Поиск</button>
      </form>
    </div>
    <div class="lineOpt">
        <hr class="line">
    </div>
</div>
<div class="globalProduct">
  <div class="center">
<tr th:each="product : ${list}">
    <a th:href="@{/product/getById/{id}(id=${product.getId})}" th:text="${product.getName +
 ' ' + product.getPrice + ' ' + product.getUser}"></a>
    </br>
</tr>
   <p class="hName"> Результат поиска </p>
   <div class="pText">

     <div class="prod">
<p class="nameProd">Название продукта</p>
<p class="optProd">Это описание продукта</p>
</div>
<div class="prod">
<p class="nameProd">Название продукта</p>
<p class="optProd">Это описание продукта</p>
</div>

<div class="prod">


<p class="nameProd">Название продукта</p>
<p class="optProd">Это описание продукта</p>
</div>

<div class="prod">


<p class="nameProd">Название продукта</p>
<p class="optProd">Это описание продукта</p>
</div>

<div class="prod">


<p class="nameProd">Название продукта</p>
<p class="optProd">Это описание продукта</p>
</div>

<div class="prod">


<p class="nameProd">Название продукта</p>
<p class="optProd">Это описание продукта</p>
</div>

<div class="prod">


<p class="nameProd">Название продукта</p>
<p class="optProd">Это описание продукта</p>
</div>
<div class="prod">


<p class="nameProd">Название продукта</p>
<p class="optProd">Это описание продукта</p>
</div><div class="prod">


<p class="nameProd">Название продукта</p>
<p class="optProd">Это описание продукта</p>
</div>
 </div>

  </div>
  </div>

    <div class="infoPers">
        <div class="center">
          <div class="persName">
              <p>Имя Фамилия</p>
              <p>Номер телефона</p>
          </div>

    <div class="persChat">
              <a type="button" name="button" class="botr">Связаться</a>

    </div>
      </div>
    </div>




</div>

</tr>

</body>

</html>
