<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Добавить товар</title>
</head>
<body>
<h3>Добавьте товар</h3>
<form method="post" th:object="${product}" th:action="@{/product/create}">
    <label for="name">Название</label>
    <input id="name" th:field="*{name}" type="text" placeholder="name">
    </br>
    <label for="description">Описание</label>
    <input id="description" th:field="*{description}" type="text" placeholder="description">
    </br>
    <label for="price">Стоимость</label>
    <input id="price" th:field="*{price}" type="text" placeholder="price">
    </br>
    <p>Выберит категорию :</p>
    <input type="radio" id="DRESS" th:field="*{category}" name="DRESS" value="DRESS">
    <label for="DRESS">Одежда</label><br>
    <input type="radio" id="CARS" th:field="*{category}" name="CARS" value="CARS">
    <label for="CARS">Автомобили</label><br>
    <input type="radio" id="TECHNOLOGIES" th:field="*{category}" name="TECHNOLOGIES" value="TECHNOLOGIES">
    <label for="TECHNOLOGIES">Технологии</label>
    </br>
    </br>
    <input type="submit" value="Добавить">
</form>
</body>
</html>