<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../../static/css/user/getById.css" th:href="@{/css/user/getById.css}"/>
</head>
<body>
<div id="nameShop">
    <h1>CookieShop</h1>
</div>
<div id="page">
    <h1 id="username" th:text="${user.getName + ' ' + user.getSecondName}">Name SecondName</h1>
    <p id="phone" th:text="${'PhoneNumber: ' + user.getPhoneNumber}">PhoneNumber: 123112312</p>
    <a id="message" th:href="@{/message/chat/{id}(id=${user.getId})}">Написать сообщение</a>

    <div id="userProducts">
        <h3>Остальные товары этого продавца</h3>
        <tr th:each="product : ${allProductsByUser}">
            <a th:text="${product.getName}" th:href="@{/product/getById/{id}(id=${product.getId})}">Product</a>
            </br>
        </tr>
    </div>
</div>
</body>
</html>