<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CookieShop</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../../static/css/user/main.css" th:href="@{/css/user/main.css}"/>
</head>
<body>
<div class="mainDiv">

    <div class="Header">
        <div class="nameShop">
            <h1 class="headText">CookieShop</h1>
        </div>
        <div class="inputBox">
            <form th:action="@{/product/search/byName}" th:object="${product}" th:method="post">
                <input type="text" class="mainInput" th:field="*{name}" placeholder="Поиск...">
                <button type="submit" name="button" class="searchButton">Поиск</button>
            </form>
        </div>
    </div>
    <div class="lineOpt">
        <hr class="line">
    </div>
    <div class="userSide">
        <div class="username">
            <h1 th:text="${user.getName + ' ' + user.getSecondName}">User Name</h1>
            <h3 th:text="${'Phone Number: ' + user.getPhoneNumber}">телефон: 123123123</h3>
            <form th:action="@{/logout}" method="post">
                <button type="submit" name="button" class="exitButton">Выход</button>
            </form>
        </div>
        <div class="userList">
            <h3>Список ваших товаров: </h3>
            <tr th:each="product : ${allProductsByUser}">
                <a th:href="@{/product/getById/{id}(id=${product.getId})}" th:text="${product.getName}">product</a>
                </br>
            </tr>
        </div>
        <div class="addProduct">
            <a class="message" th:href="@{/message/chats}">Сообщения</a>
            <a class="botr" th:href="@{/product/create}">Добавить товар</a>
        </div>


        <div class="news">
            <p class="findByCategory">+ Поиск по категориям +</p>
            <a class="findByCar" th:href="@{/product/search/cars}">Автомобили</a>
            </br>
            <a class="findByDress" th:href="@{/product/search/cars}">Одежде</a>
            </br>
            <a  class="findByTechnology" th:href="@{/product/search/cars}">Технологии</a>
            </br>
            <p class="newProducts">+ Новые товары +</p>
            <tr th:each="product : ${allProduct}">
                <a class="product"
                   th:text="${product.getName + '     стоимость:  ' + product.getPrice}"
                   th:href="@{/product/getById/{id}(id=${product.getId})}"></a>
                </br>
            </tr>
        </div>
    </div>
</div>
</body>
</html>
