<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CookieShop</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../../static/css/user/main.css" th:href="@{/css/user/main.css}"/>
</head>
<body>
<div class="mainDiv">

    <div class="Header">
        <div class="nameShop">
            <h1 class="headText">CookieShop</h1>
        </div>
        <div class="inputBox">
          <form th:action="@{/product/search/byName}" th:object="${product}" th:method="post">
              <input type="text" class="mainInput" th:field="*{name}" placeholder="Поиск...">
              <button type="submit" name="button" class="searchButton">Поиск</button>
          </form>
        </div>
    </div>
    <div class="lineOpt">
        <hr class="line">
    </div>
    <div class="userSide">
        <div class="username">
            <h1 th:text="${user.getName + ' ' + user.getSecondName}">User Name</h1>
            <h3 th:text="${'Phone Number: ' + user.getPhoneNumber}">телефон: 123123123</h3>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Выход" class="exit">
            </form>
        </div>
        <div class="userList">
            <h3>Список ваших товаров: </h3>
            <tr th:each="product : ${allProductsByUser}">
                <a th:href="@{/product/getById/{id}(id=${product.getId})}" th:text="${product.getName}">product</a>
                </br>
            </tr>
        </div>
        <div class="addProduct">
            <a class="botr" th:href="@{/product/create}">Добавить</a>
        </div>
        <div class="news">
        </div>
    </div>
</div>
</body>
</html>
