<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>CookieShop</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../../static/css/registration/registration.css"
          th:href="@{/css/registration/registration.css}"/>
    <script type="text/javascript" th:src="@{/js/registration.js}"
            src="../../../static/js/registration.js"></script>
</head>
<body>
<div class="main">
    <div class="form-container sign-in-container">
        <div class="mainText">
            CookieShop
        </div>
        <form th:action="@{/registration}" th:object="${user}" class="avt" th:method="post">
            <h1 class="logInText">Регистрация</h1>
            <input id="username"
                   name="username"
                   type="text"
                   required
                   minlength="2"
                   maxlength="15"
                   th:field="*{username}"
                   placeholder="Логин"/>
            <span class="error"></span>


            <input id="pass1"
                   type="password"
                   name="password"
                   required
                   minlength="5"
                   maxlength="15"
                   th:field="*{password}"
                   placeholder="Пароль"/>
            <span class="error"></span>


            <input id="name"
                   name="name"
                   type="text"
                   required
                   minlength="5"
                   maxlength="15"
                   th:field="*{name}"
                   placeholder="Ваше имя">
            <span class="error"></span>


            <input id="surname"
                   name="surname"
                   type="text"
                   th:field="*{secondName}"
                   required
                   minlength="5"
                   maxlength="15"
                   placeholder="Фамилия">
            <span class="error"></span>

            <input id="number"
                   name="number"
                   type="number"
                   th:field="*{phoneNumber}"
                   required
                   minlength="7"
                   maxlength="17"
                   placeholder="Номер телефона">
            <span class="error"></span>

            <input id="mail"
                   name="mail"
                   type="text"
                   th:field="*{email}"
                   required
                   minlength="7"
                   maxlength="30"
                   placeholder="EMail">
            <span class="error"></span>

            <button id="button" type="submit" value="Вход">Регистрация</button>
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">

            <div class="overlay-panel overlay-right">

                <h1>Привет, Друг!</h1>
                <p>Если у тебя уже есть аккаунт, войди в него.</p>
                <form th:action="@{/login}" th:href="@{/login}">
                    <button class="ghost" id="signUp">Вход</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
