@font-face {
       font-family: fartune;
       src: url(../fonts/fontMain.otf);
}
@font-face {
       font-family: TwoFart;
       src: url(../fonts/twoFont.ttf);
}
@font-face {
       font-family: reza;
       src: url(../fonts/Reza.ttf);
}
body {
       height: 100%;
       width: 100%;
       background-size: 100%;
}
.mainDiv {
        height: 100%;
        width: 100%;
        background: #ff416c;
        background: linear-gradient(to right, #ff4b2b, #ff7f50) no-repeat 0 0 / cover;
        position: fixed;
        top: 0;
        left: 0;

}
.mainInput{
        width: 100%;
        height: 5vh;
        margin-top: 5.2vh;
        margin-left: 3.3vh;
        border-radius: 1.3vh;
        border-color: #C0C0C0;
        outline: none;
        font-size:3.8vh;
        font-family: reza;
        font-weight: bold;
}
.inputBox {
        width: 53%;
        float:left;
}
.searchButton{
        float: right;
        background-color: #ff445c;
        width: 100px;
        height: 4.3vh;
        margin-top: 5.5vh;
        margin-right: 8vh;
        border-radius: 1.2vh;
        font-family: reza;
        font-weight: bold;
        letter-spacing: 0.2vh;
        margin-right: -20vh;
        margin-top: -5.2vh;
}

.line{
        border-color:   #ff7f50;
        width: 100%;
        background-color: #ff7f50;
}


.nameShop{
        text-align: left;
        height: 80px;
        width: 33%;
        font-family: fartune;
        float: left;
}

.headText{
        font-size: 10.7vh;
        padding-left: 5.7vh;
}
::-webkit-scrollbar {
        width: 5px;
}
::-webkit-scrollbar-thumb {
         -webkit-border-radius: 10px;
         border-radius: 10px;
         background: rgba(50,50,50,0.5);
}
.userSide{
        display: inl
        border: 3px solid black;
        border-radius: 2vh;
        height: 6vh;
        width: 100%;
        margin-left: 0px;
}
username{
        font-family: TwoFart;
        height: 14vh;
        width: 33%;
        text-align: center;
        font-size: 25px;
}
.productListName{
        border: 1px solid black;
        border-radius: 1.9vh;
        text-align: center;
        height: 40vh;
        width: 33%;
}
.allProducts{
       overflow: scroll ;
       font-family: TwoFart;
       position: absolute;
       left: 34%;
       top: 14%;
       text-align: center;
       height: 83%;
       width: 32%;
       overflow-x:hidden;
       font-size: 3vh;
}
.news{
       overflow: scroll ;
       font-family: TwoFart;
       left: 66%;
       top: 14%;
       position: absolute;
       text-align: center;
       font-size: 2.5vh;
       height: 83%;
       width: 66%;
       overflow-x:hidden;
}
.userList{
       overflow: scroll ;
       width: 33%;
       height: 63%;
       font-family: TwoFart;
       font-size: 23px;
       text-align: center;
       overflow-x:hidden;
       height: 55vh;
}
.searchBox {
       padding-right: 60px;
       float: right;
       margin-top: 21px;
}
.addProduct {
       font-family: TwoFart;
       text-align: center;
       height: 70px;
       width: 33%;
       font-size: 25px;
}
.product {
       text-align: center;
}
.exit {
       border: none;
       background-image: none;
       background-color: transparent;
       -webkit-box-shadow: none;
       -moz-box-shadow: none;
       box-shadow: none;
       font-family: TwoFart;
       font-size: 23px;
}
*{
       margin: 0;
       padding: 0;
}
a.botrSearch {
       width: 20;
}
a.botr {
       background: #fff;
       width: 225px;
       display: block;
       height: 33px;
       padding-top: 19px;
       border: 1px solid #000;
       margin: 20px auto;
       font-family: 'Dosis1', sans;
       font-size: 18px;
       font-weight: 200;
       color: #000;
       text-transform: uppercase;
       text-decoration: none;
       text-align: center;
       opacity: .8;
       letter-spacing: 1px;
       -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
       -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
       -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
       transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
tr:hover {
       width: 225px;
       height: 33px;
       padding-top: 19px;
       border: 1px solid teal;
       margin: 20px auto;
       opacity: 1;
       letter-spacing: 4px;
       -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
       -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
       -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
       transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

