<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">
<head>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../../static/css/login/login-error.css" th:href="@{/css/login/login-error.css}" />
    <meta charset="utf-8">
    <title>CookieShop</title>
</head>
<body>
<div class="main">
    <div class="form-container sign-in-container">
        <div class="mainText">
            CookieShop
        </div>

        <form th:action="@{/login}" class="avt" method="post">
            <h1 class="logInText">Авторизация</h1>
            <h4>Неверное имя пользователя или пароль</h4>
            <input type="text" id="username" name="username" placeholder="User name"/>
            <input type="password" id="pass1" name="password" placeholder="Password"/>
            <button id="button" type="submit" value="Вход">Вход</button>
        </form>

    </div>

    <div class="overlay-container">
        <div class="overlay">

            <div class="overlay-panel overlay-right">

                <h1>Привет, Друг!</h1>
                <p>Если у тебя нету аккаунта, зарегестрируйся. Покупай и продавай вместе с CookieShop.</p>
                <form th:action="@{/registration}">
                    <button class="ghost" id="signUp">Регистрация</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>