<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/add}" th:object="${product}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    </br>
    <label for="price">Price</label>
    <input type="text" th:field="*{price}" id="price" placeholder="Price">
    </br>
    <input type="submit" value="Add product">
</form>

<a th:href="@{/}">Главное меню</a>

</body>
</html>