<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form  th:action="@{/registration}" th:object="${user}" th:method="post">
    <label for="login">Login</label>
    <input type="text" id="login" th:field="*{login}" placeholder="Login">
    </br>
    <label for="password">Password</label>
    <input type="password" id="password" th:field="*{password}" placeholder="Password">
    </br>
    <label for="name">Name</label>
    <input type="text" id="name" th:field="*{name}" placeholder="Name">
    </br>
    <label for="phoneNumber">Phone Number</label>
    <input type="text" id="phoneNumber" th:field="*{phoneNumber}" placeholder="phoneNumber">
    </br>
    <input type="submit" value="registration">
</form>
</body>
</html>