<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>


<form action="#" th:action="@{/registration}" th:object="${account}" th:method="post">
    <label for="login">Login</label>
    <input type="text" id="login" th:field="*{login}" placeholder="login">
    </br>
    <label for="password">Password</label>
    <input type="text" id="password" th:field="*{password}" placeholder="password">
    </br>
</form>
<form action="#" th:action="@{/registration}" th:object="${person}" th:method="post">
    <label for="name">Name</label>
    <input type="text" id="name" th:field="*{name}" placeholder="name">
    </br>
    <label for="phoneNumber">phoneNumber</label>
    <input type="text" id="phoneNumber" th:field="*{phoneNumber}" placeholder="phoneNumber">
    </br>
    <input type="submit" value="registration">
</form>


</body>
</html>