<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<tr th:each="product : ${all}">

    <a th:href="@{/{id}(id=${product.getId})}" th:text="${product.getName}"></a>
    <form action="#" th:method="delete" th:action="@{/delete/{id}(id=${product.getId})}" th:object="${product} ">
        <input type="submit" value="delete">
    </form>


    <a th:href="@{/update/{id}(id=${product.getId})}">update</a>


    </br>
</tr>

<a th:href="@{/add}">Создать товар</a>


</body>
</html>