<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CookieShop</title>

    <link rel="stylesheet" type="text/css" media="all"
          href="../../../static/css/chat/chat.css" th:href="@{/css/chat/chat.css}"/>

</head>
<body>
<div class="mainDiv">
    <div class="Header">
        <div class="nameShop">
            <h1 class="headText">CookieShop</h1>
        </div>
        <!--        <div class="inputBox">-->
        <!--            <form th:action="@{/product/search/byName}" th:object="${product}" th:method="post">-->
        <!--                <input type="text" class="mainInput" th:field="*{name}" placeholder="Поиск...">-->
        <!--                <button type="button" name="button" class="searchButton">Поиск</button>-->
        <!--            </form>-->
        <!--        </div>-->
    </div>
    <div class="lineOpt">
        <hr class="line">
    </div>
    <div class="globalChat">
        <p class="text">Сообщения</p>
        <div class="chatBox">
            <div class="globalMasseng">
                <div class="boxMass">
                    <tr th:each="message : ${messageList}">
                    <p id="content" th:text="${message}">message</p>
                    </tr>
                </div>
            </div>
        </div>
    </div>
    <form th:method="post" th:object="${message}" th:action="@{/message/chat/{id}(id=${recipientUser.getId})}">
        <div class="mainDownBox">
            <div class="downBox">
                <input id="message" th:field="*{content}" type="text" placeholder="Сообщение..." class="inputMass">
                <input type="submit" value="Отправить" class="butMass">
            </div>
        </div>
    </form>

</div>
</body>
</html>
