<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>CookieShop</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../../static/css/login/login.css" th:href="@{/css/login/login.css}" />
    <title class="mainText">CookieShop</title>
</head>
<body>
<div class="main">
    <div class="form-container sign-in-container">
        <div class="mainText">
            CookieShop
        </div>

        <form th:action="@{/login}" class="avt" th:method="POST">
            <h1 class="logInText">Авторизация</h1>
            <div th:if="${param.error}">
                Неверное имя пользователя или пароль
            </div>
            <input type="text" id="username" name="username" placeholder="User name"/>
            <input type="password" id="pass1" name="password" placeholder="Password"/>
            <button id="button" type="submit" value="Вход">Вход</button>
        </form>
            <form th:action="@{/login}" class="avt" method="post">
                <h1 class="logInText">Авторизация</h1>
                <input type="text"  name="username" placeholder="User name"/>
                <input type="password"  name="password" placeholder="Password"/>

                <button  type="submit" value="Вход">Вход</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">

                <div class="overlay-panel overlay-right">

                    <h1>Привет, Друг!</h1>
                    <p>Если у тебя нету аккаунта, зарегестрируйся. Покупай и продавай вместе с CookieShop.</p>
                    <form th:action="@{/registration}">
                        <button class="ghost" >Регистрация</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
