   @font-face {
          font-family: fartune;
          src: url(../fonts/fontMain.otf);
        }

        @font-face {
          font-family: TwoFart;
          src: url(../fonts/twoFont.ttf);
        }
        @font-face {
          font-family: reza;
          src: url(../fonts/Reza.ttf);
        }

        body {
          height: 100% ;
          width: 100%;
          background-size: 100%;
          }


        .mainDiv{
          height: 100% ;
          width: 100%;
          background: #ff416c;
          background: linear-gradient(to right, #ff4b2b, #ff7f50) no-repeat 0 0 / cover;
          position: fixed;
          top: 0;
          left: 0;

        }
        .nameShop{
          height: 8vh;
          width: 33%;
          font-family: fartune;
          float: left;
          margin-top: -7vh;
        }

        .headText{
          font-size: 10.7vh;
          padding-left: 5.68vh;
          font-family: fartune;
        }

        .line{
          border-color:   #ff7f50;
          width: 100%;
          background-color: #ff7f50;
          margin-top: 11vh;
        }


          ::-webkit-scrollbar {
            width: 5px;
        }


          ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: rgba(50,50,50,0.5);
        }

        .globalProduct{
          width: 100%;
          height: 100%;

        }

        .add{
          width: 100%;
          position: fixed;
          display: block;
          justify-content: center;
          align-items:center;

        }

        .hiText{
          width: 100%;
          margin-top:4vh;
          font-size: 5vh;
          font-family: reza;
          display: flex;
          justify-content: center;

        }


        .textAdd{

        }
        .form{
          justify-content: center;
          display: flex;

        }
         .input1 {
            background: #eee;
            border: none;
            padding: 1.5vh 1.8vh;
            margin: 1vh 0;
            width: 100%;
            font-family: reza;
            font-size: 2.5vh;
        }
        #button{
          width: 108%;
        }
        .label1{
          font-family: reza;
          font-size: 2.5vh;

        }

        .choice{
          font-family: reza;
          font-size: 3vh;
        }
