@font-face {
    font-family: fartune;
    src: url(../fonts/fontMain.otf);
}

@font-face {
    font-family: TwoFart;
    src: url(../fonts/twoFont.ttf);
}

@font-face {
    font-family: reza;
    src: url(../fonts/Reza.ttf);
}

html {
    min-height: 100%;
    margin: 0;
}

body {
    margin: 0;
    min-height: 100%;
    width: 100%;
    background-size: 100%;
    background: linear-gradient(to right, #ff4b2b, #ff7f50) no-repeat 0 0 / cover;
    overflow: auto;
    overflow-x: hidden;
}


.mainDiv {
    height: 100%;
    width: 100%;
    background: #ff416c;
    background: linear-gradient(to right, #ff4b2b, #ff7f50) no-repeat 0 0 / cover;

    top: 0;
    left: 0;

}

.nameShop {
    height: 8vh;
    width: 33%;
    font-family: fartune;
    float: left;
}

.headText {
    font-size: 10.7vh;
    padding-left: 5.7vh;
    font-family: fartune;
    color: black;
}

.inputBox {
    width: 53%;
    float: left;
}

.mainInput {
    width: 100%;
    height: 5vh;
    margin-top: 5.2vh;
    margin-left: 3.3vh;
    border-radius: 1.3vh;
    border-color: #C0C0C0;
    outline: none;
    font-size: 3.8vh;
    font-family: reza;
    font-weight: bold;
}

.searchButton {
    float: right;
    background-color: #ff445c;
    width: 100px;
    height: 4.3vh;
    margin-top: 5.5vh;
    margin-right: 8vh;
    border-radius: 1.2vh;
    font-family: reza;
    font-weight: bold;
    letter-spacing: 0.2vh;
    margin-right: -20vh;
    margin-top: -5.2vh;
}

.line {
    border-color: #ff7f50;
    width: 100%;
    background-color: #ff7f50;
    margin-top: 10.6vh;
}


::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #000;
}


.globalProduct {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;

}

.center {
    width: 50%;
}

.center2 {
    width: 100%;
    height: 50vh;
    word-wrap: break-word;
    overflow: scroll;
}

.h1 {
    font-family: reza;
    font-size: 5.3vh;
    letter-spacing: -2px;
    font-weight: bold;
    text-align: center;
}

.p {
    height: 50vh;
    font-family: reza;
    font-size: 2.4vh;
}

.infoPers {
    width: 100%;
    bottom: 0;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    text-align: left;
}

.persChat {
    position: absolute;
    right: 25%;
    bottom: 0%;
}

.persName {
    position: absolute;
    left: 25%;
    bottom: 0;
    text-align: left;
    font-family: reza;
    font-size: 2.8vh;
    font-weight: bold;
    line-height: 1vh;
}


.opis {
    font-family: reza;
    text-align: center;

}

a.botrSearch {
    width: 20vh;
}

a.botr {
    background: #fff;

    width: 225px;
    display: block;
    height: 33px;
    padding-top: 19px;
    border: 1px solid #000;
    margin: 20px auto;
    font-family: 'Dosis1', sans;
    font-size: 18px;
    font-weight: 200;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    opacity: .8;
    letter-spacing: 1px;
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

a.botr:hover {
    width: 225px;
    height: 33px;
    padding-top: 19px;
    border: 1px solid teal;
    margin: 20px auto;
    opacity: 1;
    letter-spacing: 4px;
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

