@font-face {
    font-family: fartune;
    src: url(../fonts/fontMain.otf);
}

@font-face {
    font-family: TwoFart;
    src: url(../fonts/twoFont.ttf);
}

body {
    height: 100%;
    width: 100%;
    background-size: 100%;
}

.mainDiv {
    height: 100%;
    width: 100%;
    background: #ff416c;
    background: linear-gradient(to right, #ff4b2b, #ff7f50) no-repeat 0 0 / cover;
    position: fixed;
    top: 0;
    left: 0;

}

.mainInput {
    width: 100%;
    height: 40px;
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 10px;
    border-color: #C0C0C0;
    outline: none;
    font-size: 30px;


}

.inputBox {
    width: 53%;
    float: left;
}


.line {
    border-color: #ff7f50;
    width: 100%;
    background-color: #ff7f50;
    margin-top: 30px;
}

.lineOpt {
    margin-top: 110px;
}

.searchBox {
    padding-right: 60px;
    float: right;
    margin-top: 21px;

}

.butSearch {
    border-radius: 50px;
    border: 1px solid #000;
    background: #ff445c;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    width: 100px;
    height: 43px;
    letter-spacing: 1px;
    margin-top: 20px;
    float: right;

}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(50, 50, 50, 0.5);
}


.nameShop {

    text-align: left;
    height: 80px;
    width: 33%;
    font-family: fartune;
    float: left;
}

.headText {
    font-size: 83px;
    padding-left: 45px;
    color: black;
}

.userSide {
    display: inline;
    border: 3px solid black;
    border-radius: 15px;

    height: 530px;
    width: 100%;
    margin-left: 0px;
}

.username {
    font-family: TwoFart;
    height: 120px;
    width: 33%;
    text-align: center;
    font-size: 25px;
    margin-top: 35px;


}

.searchButton {
    float: right;
    background-color: #ff445c;
    width: 100px;
    height: 4.3vh;
    margin-top: 5.5vh;
    margin-right: 8vh;
    border-radius: 1.2vh;
    font-family: reza;
    font-weight: bold;
    letter-spacing: 0.2vh;
    margin-right: -20vh;
    margin-top: -5.2vh;
}

.productListName {
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    height: 330px;
    width: 33%;
}

.addProduct {
    font-family: TwoFart;
    text-align: center;
    height: 70px;
    width: 33%;
    font-size: 25px;

}

.allProducts {
    overflow: scroll;
    font-family: TwoFart;
    position: absolute;
    left: 34%;
    top: 14%;
    text-align: center;
    font-size: 20px;
    height: 83%;
    width: 32%;
    overflow-x: hidden;
    font-size: 28px;

}

.news {
    overflow: scroll;
    font-family: TwoFart;
    left: 66%;
    top: 14%;
    position: absolute;
    text-align: center;
    font-size: 20px;
    height: 83%;
    width: 66%;
    overflow-x: hidden;
    font-size: 30px;
}

.userList {
    overflow: scroll;
    width: 33%;
    height: 63%;
    font-family: TwoFart;
    font-size: 23px;
    text-align: center;
    overflow-x: hidden;

}

.product {
    text-align: center;
}

.button {
    font-family: TwoFart;

}


* {
    margin: 0;
    padding: 0;
}

a.botr {
    background: #fff;
    width: 225px;
    display: block;
    height: 33px;
    padding-top: 19px;
    border: 1px solid #000;
    margin: 20px auto;
    font-family: 'Dosis', sans;
    font-size: 18px;
    font-weight: 200;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    opacity: .8;
    letter-spacing: 1px;
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

a.botr:hover {
    width: 225px;
    height: 33px;
    padding-top: 19px;
    border: 1px solid teal;
    margin: 20px auto;
    opacity: 1;
    letter-spacing: 4px;
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
}


.inform {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    margin-top: 150px;
    word-wrap: break-word;
}

.listinfo {
    height: 100%;
    width: 60%;

    overflow: auto;
}
