@font-face {
    font-family: fartune;
    src: url(../fonts/fontMain.otf);
}

@font-face {
    font-family: TwoFart;
    src: url(../fonts/twoFont.ttf);
}

@font-face {
    font-family: reza;
    src: url(../fonts/Reza.ttf);
}

body {
    height: 100%;
    width: 100%;
    background-size: 100%;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.mainDiv {
    height: 100%;
    width: 100%;
    background: #ff416c;
    background: linear-gradient(to right, #ff4b2b, #ff7f50) no-repeat 0 0 / cover;
    position: fixed;
    top: 0;
    left: 0;

}

.inputBox {
    width: 53%;
    float: left;
}

.mainInput {
    width: 100%;
    height: 5vh;
    margin-top: 5.2vh;
    margin-left: 3.3vh;
    border-radius: 1.3vh;
    border-color: #C0C0C0;
    outline: none;
    font-size: 3.8vh;
    font-family: reza;
    font-weight: bold;
}

.searchButton {
    float: right;
    background-color: #ff445c;
    width: 100px;
    height: 4.3vh;
    margin-top: 5.5vh;
    margin-right: 8vh;
    border-radius: 1.2vh;
    font-family: reza;
    font-weight: bold;
    letter-spacing: 0.2vh;
    margin-right: -20vh;
    margin-top: -5.2vh;
}


.line {
    border-color: #ff7f50;
    width: 100%;
    background-color: #ff7f50;

}

.line2 {
    border-color: #ff7f50;
    width: 100%;
    background-color: #ff7f50;
    margin-top: -1vh;
}

.headText {
    font-size: 10.7vh;
    padding-left: 5.7vh;
    color: black;
}

.nameShop {
    text-align: left;
    width: 33%;
    font-family: fartune;
    float: left;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(50, 50, 50, 0.5);
}

.pageAdmin {
    margin-left: 7vh;
    margin-top: 3vh;
    font-family: reza;
    font-weight: bold;
    font-size: 2.5vh;
    letter-spacing: -1px;
}

.globalList {
    position: absolute;
    display: block;
    justify-content: center;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    height: 55vh;
}

.unit {
    margin-top: 1.3vh;
    width: 100%;

    height: 7vh;
    display: flex;
    align-items: center;
}

.nameUnit {
    width: 15%;
    font-family: reza;
    margin-left: 8vh;
    font-size: 22px;
    color: #000;
    font-weight: bold;
    height: 99%;
}

.deleteUnitBox {
    position: absolute;
    right: 0;
    margin-right: 5vh;

}

.deleteUnit {
    color: #000;
    font-family: TwoFart;
    font-size: 2.6vh;
}

.deleteUserBox {
    position: absolute;
    right: 26vh;


}

.deleteUser {
    color: #000;
    font-family: TwoFart;
    font-size: 2.6vh;

}





